<!--The content below is only a placeholder and can be replaced.-->
<div id="company" class="tabcontent">
    <h3>Company</h3>
  </div>
  
  <div id="car" class="tabcontent">
    <h3>Car</h3>
  </div>
  
  <div id="model" class="tabcontent">
    <h3>Model</h3>
  </div>
  
  <div id="price" class="tabcontent">
    <h3>Price</h3>
  </div>
  

  <button class="tablink" onclick="location.href = 'company;">Company</button>
  <button class="tablink" onclick="">Car</button>
  <button class="tablink" onclick="">Model</button>
  <button class="tablink" onclick="">Price</button>
<app-home></app-home>

<router-outlet></router-outlet>
